/* Filename: src/components/CrewPanel/CrewPanel.css */
.hud-crew-count
{
    display: block;
    font-size: 2rem;
    font-weight: 350;
    letter-spacing: 0.08em;
    line-height: 1;
    color: var(--hud-text-main);
    white-space: nowrap;

    text-shadow: 0 0 10px rgba(223, 170, 55, 0.05);
}
