/* Filename: src/components/HudSection/HudSection.css */
.hud-item
{
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  padding-block: 1.4rem;
}
.hud-item:not(:last-child)::after
{
    content: "";
    position: absolute;
    left: var(--hud-padding);
    right: var(--hud-padding);
    bottom: 0;
    height: 1px;
    background: var(--hud-divider);
}
.hud-item-primary { padding: 0 var(--hud-padding) 2.25rem; margin-bottom: 0.25rem; padding-block: 0.25rem 2rem; }
.hud-item > div { flex: 1; min-width: 0; }
